doctype html
html
    head
        include ../includes/front.metas.pug
        include ../includes/front.styles.pug
        include ../includes/front.scripts.pug
    body
        include ../includes/header.pug
        main
            block main
